@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
span.its-fine-highlight {
  color: #f50289;
}

.wt-checker {
  width: 100%;
  max-width: 800px;
  margin: 0;
  display: flex;
  flex-flow: column;
  text-align: center;
  box-sizing: border-box;
  padding: 16px 16px 40px 16px;
}
.wt-checker h1 {
  font-weight: bolder;
  margin-bottom: 16px !important;
}
.wt-checker .wt-divider {
  margin: 24px auto;
  min-width: 50%;
  width: 50%;
}
.wt-checker .ant-input-search-button {
  border-radius: 0 8px 8px 0 !important;
  height: 40px;
  background-color: #f50289;
  border: transparent;
}
.wt-checker .loading {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}
.wt-checker .loading .loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  animation: loader07-u5pno15 1s linear infinite;
}
@keyframes loader07-u5pno15 {
  0% {
    box-shadow: 0 -17px 0 0 rgba(245, 2, 137, 0.05), 12px -12px 0 0 rgba(245, 2, 137, 0.1), 17px 0 0 0 rgba(245, 2, 137, 0.2), 12px 12px 0 0 rgba(245, 2, 137, 0.3), 0 17px 0 0 rgba(245, 2, 137, 0.4), -12px 12px 0 0 rgba(245, 2, 137, 0.6), -17px 0 0 0 rgba(245, 2, 137, 0.8), -12px -12px 0 0 #f50289;
  }
  12.5% {
    box-shadow: 0 -17px 0 0 #f50289, 12px -12px 0 0 rgba(245, 2, 137, 0.05), 17px 0 0 0 rgba(245, 2, 137, 0.1), 12px 12px 0 0 rgba(245, 2, 137, 0.2), 0 17px 0 0 rgba(245, 2, 137, 0.3), -12px 12px 0 0 rgba(245, 2, 137, 0.4), -17px 0 0 0 rgba(245, 2, 137, 0.6), -12px -12px 0 0 rgba(245, 2, 137, 0.8);
  }
  25% {
    box-shadow: 0 -17px 0 0 rgba(245, 2, 137, 0.8), 12px -12px 0 0 #f50289, 17px 0 0 0 rgba(245, 2, 137, 0.05), 12px 12px 0 0 rgba(245, 2, 137, 0.1), 0 17px 0 0 rgba(245, 2, 137, 0.2), -12px 12px 0 0 rgba(245, 2, 137, 0.3), -17px 0 0 0 rgba(245, 2, 137, 0.4), -12px -12px 0 0 rgba(245, 2, 137, 0.6);
  }
  37.5% {
    box-shadow: 0 -17px 0 0 rgba(245, 2, 137, 0.6), 12px -12px 0 0 rgba(245, 2, 137, 0.8), 17px 0 0 0 #f50289, 12px 12px 0 0 rgba(245, 2, 137, 0.05), 0 17px 0 0 rgba(245, 2, 137, 0.1), -12px 12px 0 0 rgba(245, 2, 137, 0.2), -17px 0 0 0 rgba(245, 2, 137, 0.3), -12px -12px 0 0 rgba(245, 2, 137, 0.4);
  }
  50% {
    box-shadow: 0 -17px 0 0 rgba(245, 2, 137, 0.4), 12px -12px 0 0 rgba(245, 2, 137, 0.6), 17px 0 0 0 rgba(245, 2, 137, 0.8), 12px 12px 0 0 #f50289, 0 17px 0 0 rgba(245, 2, 137, 0.05), -12px 12px 0 0 rgba(245, 2, 137, 0.1), -17px 0 0 0 rgba(245, 2, 137, 0.2), -12px -12px 0 0 rgba(245, 2, 137, 0.3);
  }
  62.5% {
    box-shadow: 0 -17px 0 0 rgba(245, 2, 137, 0.3), 12px -12px 0 0 rgba(245, 2, 137, 0.4), 17px 0 0 0 rgba(245, 2, 137, 0.6), 12px 12px 0 0 rgba(245, 2, 137, 0.8), 0 17px 0 0 #f50289, -12px 12px 0 0 rgba(245, 2, 137, 0.05), -17px 0 0 0 rgba(245, 2, 137, 0.1), -12px -12px 0 0 rgba(245, 2, 137, 0.2);
  }
  75% {
    box-shadow: 0 -17px 0 0 rgba(245, 2, 137, 0.2), 12px -12px 0 0 rgba(245, 2, 137, 0.3), 17px 0 0 0 rgba(245, 2, 137, 0.4), 12px 12px 0 0 rgba(245, 2, 137, 0.6), 0 17px 0 0 rgba(245, 2, 137, 0.8), -12px 12px 0 0 #f50289, -17px 0 0 0 rgba(245, 2, 137, 0.05), -12px -12px 0 0 rgba(245, 2, 137, 0.1);
  }
  87.5% {
    box-shadow: 0 -17px 0 0 rgba(245, 2, 137, 0.1), 12px -12px 0 0 rgba(245, 2, 137, 0.2), 17px 0 0 0 rgba(245, 2, 137, 0.3), 12px 12px 0 0 rgba(245, 2, 137, 0.4), 0 17px 0 0 rgba(245, 2, 137, 0.6), -12px 12px 0 0 rgba(245, 2, 137, 0.8), -17px 0 0 0 #f50289, -12px -12px 0 0 rgba(245, 2, 137, 0.05);
  }
  100% {
    box-shadow: 0 -17px 0 0 rgba(245, 2, 137, 0.05), 12px -12px 0 0 rgba(245, 2, 137, 0.1), 17px 0 0 0 rgba(245, 2, 137, 0.2), 12px 12px 0 0 rgba(245, 2, 137, 0.3), 0 17px 0 0 rgba(245, 2, 137, 0.4), -12px 12px 0 0 rgba(245, 2, 137, 0.6), -17px 0 0 0 rgba(245, 2, 137, 0.8), -12px -12px 0 0 #f50289;
  }
}
.wt-checker .empty-banner {
  box-sizing: border-box;
  border-radius: 16px;
  padding: 24px;
  background-color: rgb(241, 241, 241);
}
.wt-checker .reward-img-container .result-wrapper .reward-img {
  width: 100%;
  height: 252px;
  border-radius: 16px;
  margin-bottom: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 20px rgba(168, 168, 168, 0.25);
}
.wt-checker .reward-img-container .result-wrapper h4 {
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
  .wt-checker {
    height: calc(100vh - 140px);
    max-height: calc(100vh - 140px);
  }
  .wt-checker .reward-img-container {
    height: calc(100vh - 140px);
    max-height: calc(100vh - 140px);
    overflow-y: auto;
  }
  .wt-checker .reward-img-container .result-wrapper .reward-img {
    margin: 16px auto;
    width: 240px;
    height: 240px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: 0.04rem;
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  height: 100%;
}
body .main-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: calc(100vh - 140px);
}
body .ant-layout {
  background: #fff;
}
body .ant-layout .ant-layout-header {
  display: flex;
  align-items: center;
  background: transparent;
}
body .ant-layout .ant-layout-header .logo {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .ant-layout .ant-layout-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f50289;
}
body .ant-layout .ant-layout-footer h3 {
  color: #fff;
  font-weight: bolder;
}
body .ant-input {
  border-radius: 8px;
  padding: 8px;
}

/*# sourceMappingURL=styles.css.map */
