.hold-container {
    max-width: 960px;
    width: 100%;
    min-height: 100vh;
    padding: 24px;
    .loader-wrapper {
        display: flex;
        align-items: center;
        height: 100vh;
    }
    .table-wrapper {
        margin-top: 80px;
        .search-table {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            align-items: center;
            h3 {
                font-weight: bold;
            }
            input {
                width: 400px;
            }
        }
    }
    .ant-image {
        img {
            border-radius: 8px;
        }
        margin-right: 8px;
    }
}
