@media screen and (max-width: 480px) {
    .wt-checker {
        height: calc(100vh - 140px);
        max-height: calc(100vh - 140px);
        .reward-img-container {
            height: calc(100vh - 140px);
            max-height: calc(100vh - 140px);
            overflow-y: auto;
            .result-wrapper {
                .reward-img {
                    margin: 16px auto;
                    width: 240px;
                    height: 240px;
                }
            }
        }
    }
}
