@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./WTChecker.scss";
@import "./info.scss";
@import "./hold.scss";
@import "./eventsCalendar.scss";
@import "./responsive.scss";
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    letter-spacing: 0.04rem;
    margin: 0 !important;
}
* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    height: 100%;
    .main-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    table {
        border: 1px solid #f9f9f9;
        td {
            p {
                text-overflow: ellipsis !important;
                overflow: hidden !important;
                white-space: nowrap !important;
            }
        }
    }
    ul {
        padding-inline-start: 0;
        li {
            list-style: none;
            .ant-badge-status-text {
                font-size: 12px;
            }
            .ant-badge-status-warning {
                background-color: #f50289 !important;
            }
        }
    }
    .ant-layout {
        background: #fff;
        .ant-layout-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul {
                margin-bottom: 0;
                a {
                    margin: 0 16px !important;
                    font-weight: bolder;
                    color: #f50289;
                }
            }
            .logo {
                width: 40px;
                height: 40px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            background: transparent;
        }
        .loading {
            width: 100%;
            display: flex;
            justify-content: center;
            height: 80px;
            align-items: center;
            .loader {
                @include loader07($color: #f50289, $size: 10px);
            }
        }
        .ant-layout-footer {
            background: #f50289;
            h3 {
                color: #fff;
                font-weight: bolder;
            }
        }
    }
    .ant-input {
        border-radius: 8px;
        padding: 8px;
    }
}
